/*
** contact.css for contact in /home/venatum/rendu/PPP/R.A. Hardware/css
** 
** Made by Venatum
** Login   <vincentlequec@gmail.com>
** 
** Started on  Thu Dec  08 14:56:52 2016 Venatum
** Last update Thu Dec  23 22:34:37 2016 Venatum
*/

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #0faabd;
    border-radius: 1em;
}

label {
    width: 90px;
    font-size: 1.5em;
    font-family: 'Satisfy', cursive;
    color: #0faabd;
}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #0faabd;
}

input:focus, textarea:focus {
    border-color: #0faabd;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: 0.5em;
}

#info {

}

#formulaire {
    padding: 1em;
}

#map {
    padding: 1em;
}

@media all and (min-width: 768px) {
    footer {
        position: absolute;
        bottom: 0;
    }
}

@media all and (max-width: 768px) {
    #map {
        margin-left: -3em;
    }
}