/*
** frise.css for frise in /home/venatum/rendu/PPP/R.A. Hardware/css
** 
** Made by Venatum
** Login   <vincentlequec@gmail.com>
** 
** Started on  Sat Dec 02 23:42:21 2016 Venatum
** Last update Sat Dec 10 16:43:19 2016 Venatum
*/

#frise {
    font-family: Georgia, serif;
    font-size: 14px;
}

a {
    color: #0faabd;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

a:hover,
a.selected {
    color: #0faabd;
}

.sociales {
    text-align: center;
    margin-bottom: 20px;
}

/*Media queries*/
@media all and (max-width: 768px) {
    #timeline, #issues li {
        width: 350px;
        height: 350px;
    }
    #dates {
        width: 350px;
        height: 60px;
    }
    #dates li {
        width: 50px;
        height: 50px;
        font-size: 12px;
    }
    #dates .selected {
        font-size: 25px;
    }
}

@media all and (max-width: 1024px) and (min-width: 768px) {
    #timeline, #issues li {
        width: 600px;
        height: 350px;
    }
    #dates {
        width: 600px;
        height: 60px;
    }
    #dates li {
        width: 75px;
        height: 50px;
        font-size: 18px;
    }
    #dates .selected {
        font-size: 28px;
    }
}

@media all and (min-width: 1024px) {
    #timeline, #issues li {
        width: 800px;
        height: 350px;
    }
    #dates {
        width: 800px;
        height: 60px;
    }
    #dates li {
        width: 100px;
        height: 50px;
        font-size: 24px;
    }
    #dates .selected {
        font-size: 38px;
    }
}

/*Frise*/

#timeline {
    overflow: hidden;
    margin: 100px auto;
    position: relative;
    background: url('../images/dot.gif') left 45px repeat-x;
    padding: 0;
    border: groove #0faabd 5px;
    border-radius: 8px;
}

#dates {
    overflow: hidden;
}

#dates li {
    list-style: none;
    float: left;
    text-align: center;
    background: url('../images/biggerdot.png') center bottom no-repeat;
}

#dates a {
    line-height: 38px;
    padding-bottom: 10px;
}

#issues {
    width: 800px;
    height: 350px;
    overflow: hidden;
}

#issues li {
    list-style: none;
    float: left;
}

#issues li.selected img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

#issues li img {
    float: left;
    margin: 10px 30px 10px 50px;
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF); /* IE 6 & 7 */
    zoom: 1;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
}

#issues li h1 {
    color: #0faabd;
    font-size: 48px;
    margin: 20px 0;
    text-shadow: #000 1px 1px 2px;
}

#issues li p {
    font-size: 14px;
    margin-right: 80px;
    font-weight: normal;
    line-height: 22px;
}

#grad_left,
#grad_right {
    width: 100px;
    height: 350px;
    position: absolute;
    top: 0;
}

#next,
#prev {
    position: absolute;
    top: 0;
    font-size: 70px;
    top: 170px;
    width: 22px;
    height: 38px;
    background-position: 0 0;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}

#next:hover,
#prev:hover {
    background-position: 0 -76px;
}

#next {
    right: 0;
    background-image: url('../images/next.png');
}

#prev {
    left: 0;
    background-image: url('../images/prev.png');
}

#next.disabled,
#prev.disabled {
    opacity: 0.2;
}

#timeline {
    background-color: #222222;
}

ul li p {
    color: white;
}