/*
** index.css for  in /home/venatum/rendu/PPP/R.A. Hardware
** 
** Made by Venatum
** Login   <vincentlequec@gmail.com>
** 
** Started on  Sat Dec 10 17:56:33 2016 Venatum
** Last update Sat Dec 10 18:15:56 2016 Venatum
*/

/* bannière */

@media all and (max-width: 768px) {
    #page-top {
        margin: -0.8em 0 -3.5em 0;
        background: url("../img/RealiteAugmenteEntete.jpg") no-repeat center;
        background-size: 100%;
    }
    #title {
        font-size: 5.2em;
    }
    footer {
    position: absolute;
    bottom: 0;
    }
}

@media all and (max-width: 1024px) and (min-width: 768px){
    #page-top {
        margin: 1.6em 0 -3em 0;
        background: url("../img/RealiteAugmenteEntete.jpg") no-repeat center;
        background-size: 100%;
        height: 341px;
    }
    #title {
        font-size: 7.3em;
    }
    footer {
    position: absolute;
    bottom: 0;
    }
}

@media all and (max-width: 1200px) and (min-width: 1024px){
    #page-top {
        margin: 3.2em 0 -3em 0;
        background: url("../img/RealiteAugmenteEntete.jpg") no-repeat center;
        background-size: 100%;
        height: 341px;
    }
    #title {
        font-size: 7.3em;
    }
    footer {
        position: absolute;
        bottom: 0;
    }
}

@media all and (min-width: 1200px) {
    #page-top {
        margin: 2em 0 -2em 0;
        background: url("../img/RealiteAugmenteEntete.jpg") no-repeat center;
        background-size: 100%;
        height: auto;
    }
    #title {
        font-size: 10em;
    }
}
