/*
** index.css for index css R.A. in /home/venatum/rendu/PPP/R.A. Hardware
**
** Made by Venatum
** Login   <vincentlequec@gmail.com>
**
** Started on  Sun Nov 13 22:18:30 2016 Venatum
** Last update Sun Dec 08 17:42:28 2016 Venatum
*/

/* Init */

* {
    font-size: 16px;
    font-family: Arial;
}

body {
    background: white url("../img/background.png");
    overflow-x: hidden;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    background-color: #0faabd;
    border-radius: 1em;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.navbar-custom .navbar-brand, h1, h2, h3, h4 {
    font-family: 'Satisfy', cursive;
    color: #0faabd;
}

.navbar-custom .nav li a {
    color: white;
}

.navbar-brand {
    font-size: 1.6em;
}

h1 {
    text-shadow: white 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px;
    font-size: 5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

.indent {
    text-indent: 50px;
}

section {
    padding: 3em;
}

/* Logo */

#logo {
    top: 0;
    margin-top: -1em;
}

/* Effet image */

.image {
    width: 100%;
    height: 100%;
}

.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.image:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

footer {
    background-color: #222222;
    color: #9d9d9d;
    padding: 1em;
    width: 100%;
}
